.logo {
    font-family: 'Yellowtail', cursive;
}

.m_tb_2 {
    margin: 2rem 0;
}

.m_tb_1_5 {
    margin: 1.5rem 0;
}

.m_t_2 {
    margin-top: 2rem;
}

.m_b_2 {
    margin-bottom: 2rem;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

a {
    all: unset;
    color: black;
}

a:hover {
    color: black;
    cursor: pointer;
}

ul {
    text-align: left;
}

input[type='password'] {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.profile_img {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB';
}

.round-button {
    color: black;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 20rem;
    box-shadow: 0 0 3px black;
}

.round-button:hover {
    color: dimgray;
}

a + a {
    margin-left: 0.5rem;
}