<div style="text-align: center">
    <div class="logo m_tb_2">
        <h1><a href="{% url 'accountapp:hello_world' %}" style="text-decoration: none">Gallery</a></h1>
    </div>
    <div class="m_b_2">
        <span>nav1</span>
        <span>nav2</span>

        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">SignUp</a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">Logout</a>
        </span>
        {% endif %}
    </div>
</div>