{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container text-center">
    <div><img src="{{ target_article.image.url }}" alt=""></div>
    <div>
      <div>
        <h1>{{ target_article.title }}</h1>
        <h4>{{ target_article.writer.profile.nickname }}</h4>
        <p>{{ target_article.created_at }}</p>
      </div>
      <div>
        {{ target_article.content }}

        <div>
          <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-success rounded-pill px-4">Update</a>
          <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill px-4">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}