{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container text-center">
    <div><img src="{{ target_article.image.url }}" alt="" class="article-image"></div>
    <div>
      <div class="my-5">
        <h1>{{ target_article.title }}</h1>
        <h4>{{ target_article.writer.profile.nickname }}</h4>
        <p>{{ target_article.created_at }}</p>
      </div>
      <div class="article-content my-2">
        {{ target_article.content }}
      </div>

      {% if user == target_article.writer %}
        <div class="my-3">
          <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-success rounded-pill px-4">Update</a>
          <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill px-4">Delete</a>
        </div>
        {% endif %}
    </div>

    <hr/>

    <div class="text-center my-4">
      {# 댓글 #}

      {% for comment in target_article.comment.all %}
        <div class="comment_box">
          <div class="d-flex justify-content-between">
            <span style="font-size:1.3rem;" class="NNS_B" >{{ comment.writer.profile.nickname }}</span>
            <span>{{ comment.created_at }}</span>
          </div>
          <div class="my-2">
            <p style="margin: 0">{{ comment.content }}</p>
          </div>
        </div>
      {% endfor %}

      {% include 'commentapp/create.html' %}
    </div>
  </div>

{% endblock %}